In [2]:
%%capture
%load_ext sql
%sql sqlite:///Jobs.db

In [3]:
%%sql

SELECT *
FROM recent_grads
LIMIT 5;

 * sqlite:///Jobs.db
Done.

[(0, 1, 2419, 'PETROLEUM ENGINEERING', 'Engineering', 2339, 36, 2057, 282, 0.120564344, 1976, 1849, 270, 1207, 37, 0.018380527, 110000, 95000, 125000, 1534, 364, 193),
 (1, 2, 2416, 'MINING AND MINERAL ENGINEERING', 'Engineering', 756, 7, 679, 77, 0.10185185199999999, 640, 556, 170, 388, 85, 0.117241379, 75000, 55000, 90000, 350, 257, 50),
 (2, 3, 2415, 'METALLURGICAL ENGINEERING', 'Engineering', 856, 3, 725, 131, 0.153037383, 648, 558, 133, 340, 16, 0.024096386, 73000, 50000, 105000, 456, 176, 0),
 (3, 4, 2417, 'NAVAL ARCHITECTURE AND MARINE ENGINEERING', 'Engineering', 1258, 16, 1123, 135, 0.107313196, 758, 1069, 150, 692, 40, 0.050125313, 70000, 43000, 80000, 529, 102, 0),
 (4, 5, 2405, 'CHEMICAL ENGINEERING', 'Engineering', 32260, 289, 21239, 11021, 0.341630502, 25694, 23170, 5180, 16697, 1672, 0.061097712, 65000, 50000, 75000, 18314, 4440, 972)]

In [5]:
%%sql
SELECT Major, Major_category
FROM recent_grads
LIMIT 5;

 * sqlite:///Jobs.db
Done.

[('PETROLEUM ENGINEERING', 'Engineering'),
 ('MINING AND MINERAL ENGINEERING', 'Engineering'),
 ('METALLURGICAL ENGINEERING', 'Engineering'),
 ('NAVAL ARCHITECTURE AND MARINE ENGINEERING', 'Engineering'),
 ('CHEMICAL ENGINEERING', 'Engineering')]

In [6]:
%%sql

SELECT Major, Major_category, ShareWomen
FROM recent_grads
WHERE ShareWomen > 0.5
LIMIT 10

 * sqlite:///Jobs.db
Done.

[('ACTUARIAL SCIENCE', 'Business', 0.535714286),
 ('COMPUTER SCIENCE', 'Computers & Mathematics', 0.578766338),
 ('ENVIRONMENTAL ENGINEERING', 'Engineering', 0.558548009),
 ('NURSING', 'Health', 0.896018988),
 ('INDUSTRIAL PRODUCTION TECHNOLOGIES', 'Engineering', 0.75047259),
 ('COMPUTER AND INFORMATION SYSTEMS', 'Computers & Mathematics', 0.7077185020000001),
 ('INFORMATION SCIENCES', 'Computers & Mathematics', 0.526475764),
 ('APPLIED MATHEMATICS', 'Computers & Mathematics', 0.75392736),
 ('PHARMACOLOGY', 'Biology & Life Science', 0.524152583),
 ('OCEANOGRAPHY', 'Physical Sciences', 0.688999173)]

In [7]:
%%sql

SELECT Major, Major_category, ShareWomen, Unemployed
FROM recent_grads
WHERE ShareWomen > 0.5 AND Unemployed < 1000
LIMIT 10

 * sqlite:///Jobs.db
Done.

[('ACTUARIAL SCIENCE', 'Business', 0.535714286, 308),
 ('ENVIRONMENTAL ENGINEERING', 'Engineering', 0.558548009, 308),
 ('INDUSTRIAL PRODUCTION TECHNOLOGIES', 'Engineering', 0.75047259, 129),
 ('INFORMATION SCIENCES', 'Computers & Mathematics', 0.526475764, 639),
 ('APPLIED MATHEMATICS', 'Computers & Mathematics', 0.75392736, 385),
 ('PHARMACOLOGY', 'Biology & Life Science', 0.524152583, 107),
 ('OCEANOGRAPHY', 'Physical Sciences', 0.688999173, 99),
 ('MATHEMATICS AND COMPUTER SCIENCE', 'Computers & Mathematics', 0.927807246, 0),
 ('COGNITIVE SCIENCE AND BIOPSYCHOLOGY', 'Biology & Life Science', 0.854523227, 223),
 ('SCHOOL STUDENT COUNSELING', 'Education', 0.56486557, 88)]

In [8]:
%%sql

SELECT Major, Major_category, ShareWomen, Unemployed
FROM recent_grads
WHERE ShareWomen > 0.5 AND Unemployed < 1000
ORDER BY Unemployed DESC
LIMIT 10

 * sqlite:///Jobs.db
Done.

[('NUTRITION SCIENCES', 'Health', 0.63814682, 975),
 ('ANIMAL SCIENCES', 'Agriculture & Natural Resources', 0.91093257, 917),
 ('MISCELLANEOUS HEALTH MEDICAL PROFESSIONS', 'Health', 0.702020202, 893),
 ('OTHER FOREIGN LANGUAGES', 'Humanities & Liberal Arts', 0.690110675, 846),
 ('NATURAL RESOURCES MANAGEMENT', 'Agriculture & Natural Resources', 0.564639335, 842),
 ('SECONDARY TEACHER EDUCATION', 'Education', 0.601751825, 833),
 ('PRE-LAW AND LEGAL STUDIES', 'Law & Public Policy', 0.591001011, 757),
 ('INTERDISCIPLINARY SOCIAL SCIENCES', 'Social Science', 0.721865913, 757),
 ('MICROBIOLOGY', 'Biology & Life Science', 0.615727227, 693),
 ('AGRICULTURE PRODUCTION AND MANAGEMENT', 'Agriculture & Natural Resources', 0.59420765, 649)]