In [1]:
%%capture
%load_ext sql
%sql sqlite:///Jobs.db

In [2]:
%%sql

SELECT AVG(Unemployment_rate)
FROM recent_grads;

 * sqlite:///Jobs.db
Done.

[(0.06858728923255816,)]

In [4]:
%%sql

SELECT
    Major,
    Unemployment_rate
FROM recent_grads
WHERE Unemployment_rate > 0.06858728923255816
LIMIT 10;

 * sqlite:///Jobs.db
Done.

[('MINING AND MINERAL ENGINEERING', 0.117241379),
 ('NUCLEAR ENGINEERING', 0.177226407),
 ('ACTUARIAL SCIENCE', 0.095652174),
 ('BIOMEDICAL ENGINEERING', 0.09208386),
 ('BIOLOGICAL ENGINEERING', 0.087143069),
 ('FOOD SCIENCE', 0.09693146),
 ('ELECTRICAL ENGINEERING TECHNOLOGY', 0.087557114),
 ('CIVIL ENGINEERING', 0.07060957400000001),
 ('MISCELLANEOUS ENGINEERING', 0.074392523),
 ('PUBLIC POLICY', 0.128426299)]

In [5]:
%%sql

SELECT 
    Major,
    Unemployment_rate
FROM recent_grads
WHERE Unemployment_rate > (
    SELECT AVG(Unemployment_rate)
    FROM recent_grads
)
LIMIT 10;

 * sqlite:///Jobs.db
Done.

[('MINING AND MINERAL ENGINEERING', 0.117241379),
 ('NUCLEAR ENGINEERING', 0.177226407),
 ('ACTUARIAL SCIENCE', 0.095652174),
 ('BIOMEDICAL ENGINEERING', 0.09208386),
 ('BIOLOGICAL ENGINEERING', 0.087143069),
 ('FOOD SCIENCE', 0.09693146),
 ('ELECTRICAL ENGINEERING TECHNOLOGY', 0.087557114),
 ('CIVIL ENGINEERING', 0.07060957400000001),
 ('MISCELLANEOUS ENGINEERING', 0.074392523),
 ('PUBLIC POLICY', 0.128426299)]

In [7]:
%%sql

SELECT AVG(Sharewomen) AS Average
FROM recent_grads;

 * sqlite:///Jobs.db
Done.

[(0.5225502029537575,)]

In [9]:
%%sql

SELECT COUNT(Major) AS Count
FROM recent_grads

 * sqlite:///Jobs.db
Done.

[(173,)]

In [12]:
%%sql

SELECT
    CAST(COUNT(Major) AS Float) / (
        SELECT COUNT(Major)
        FROM recent_grads
    ) AS proportion
FROM recent_grads
WHERE Sharewomen > (
    SELECT AVG(Sharewomen) AS Average
    FROM recent_grads
    );

 * sqlite:///Jobs.db
Done.

[(0.5260115606936416,)]

In [14]:
%%sql

SELECT
    Major,
    Major_category
FROM recent_grads
WHERE Major_category IN ("Engineering", "Business")
LIMIT 10;

 * sqlite:///Jobs.db
Done.

[('PETROLEUM ENGINEERING', 'Engineering'),
 ('MINING AND MINERAL ENGINEERING', 'Engineering'),
 ('METALLURGICAL ENGINEERING', 'Engineering'),
 ('NAVAL ARCHITECTURE AND MARINE ENGINEERING', 'Engineering'),
 ('CHEMICAL ENGINEERING', 'Engineering'),
 ('NUCLEAR ENGINEERING', 'Engineering'),
 ('ACTUARIAL SCIENCE', 'Business'),
 ('MECHANICAL ENGINEERING', 'Engineering'),
 ('ELECTRICAL ENGINEERING', 'Engineering'),
 ('COMPUTER ENGINEERING', 'Engineering')]

In [24]:
%%sql

SELECT Major_category
FROM recent_grads
GROUP BY Major_category
ORDER BY SUM(Unemployed) DESC
LIMIT 3;

 * sqlite:///Jobs.db
Done.

[('Business',), ('Humanities & Liberal Arts',), ('Social Science',)]

In [25]:
%%sql

SELECT
    Major,
    Major_category
FROM recent_grads
WHERE Major_category IN (
    SELECT Major_category
    FROM recent_grads
    GROUP BY Major_category
    ORDER BY SUM(Unemployed) DESC
    LIMIT 3
)
LIMIT 10;

 * sqlite:///Jobs.db
Done.

[('ACTUARIAL SCIENCE', 'Business'),
 ('MANAGEMENT INFORMATION SYSTEMS AND STATISTICS', 'Business'),
 ('OPERATIONS LOGISTICS AND E-COMMERCE', 'Business'),
 ('FINANCE', 'Business'),
 ('ECONOMICS', 'Social Science'),
 ('BUSINESS ECONOMICS', 'Business'),
 ('ACCOUNTING', 'Business'),
 ('INTERNATIONAL RELATIONS', 'Social Science'),
 ('GENERAL BUSINESS', 'Business'),
 ('INTERNATIONAL BUSINESS', 'Business')]