# <span style="color:#E600E6">SUBQUERIES</span>

* A subquery is a SQL query that is embedded inside a larger query.
* The subquery can be nested inside a SELECT, INSERT, UPDATE, or DELETE statement or inside another subquery.
* A subquery is usually added within the WHERE Clause of another SQL SELECT statement.

In [2]:
%%capture
%load_ext sql
%sql sqlite:///Jobs.db

#### <span style="color:#00FFD1">Example</span>
> Say we wanted to get the Majors in which the unemployment rate is greater than the average rate of unemployment.
#### One way to do this is to write two queries.
    1. Use the AVG function to calculate the average for the Unemployment_rate field
    2. Write another query and filter the results where the Unemployment_rate is less than the result of the previous query.

In [7]:
%%sql
SELECT AVG(Unemployment_rate) AS avg_unemployment
FROM recent_grads;

SELECT 
    Major, 
    Unemployment_rate
FROM recent_grads
WHERE Unemployment_rate > 0.06858728923255816
LIMIT 10;

 * sqlite:///Jobs.db
Done.
Done.

[('MINING AND MINERAL ENGINEERING', 0.117241379),
 ('NUCLEAR ENGINEERING', 0.177226407),
 ('ACTUARIAL SCIENCE', 0.095652174),
 ('BIOMEDICAL ENGINEERING', 0.09208386),
 ('BIOLOGICAL ENGINEERING', 0.087143069),
 ('FOOD SCIENCE', 0.09693146),
 ('ELECTRICAL ENGINEERING TECHNOLOGY', 0.087557114),
 ('CIVIL ENGINEERING', 0.07060957400000001),
 ('MISCELLANEOUS ENGINEERING', 0.074392523),
 ('PUBLIC POLICY', 0.128426299)]

* The two queries give us the desired results but this approach lacks flexibility and requires more work.
* So, how can we make this query more dynamic?
* We can embed the first query inside the second query.
* A subquery must be enclosed inside parenthesis.

In [9]:
%%sql

SELECT 
    Major, 
    Unemployment_rate
FROM recent_grads
WHERE Unemployment_rate > (
    SELECT AVG(Unemployment_rate) AS avg_unemployment
    FROM recent_grads
)
LIMIT 10;

 * sqlite:///Jobs.db
Done.

[('MINING AND MINERAL ENGINEERING', 0.117241379),
 ('NUCLEAR ENGINEERING', 0.177226407),
 ('ACTUARIAL SCIENCE', 0.095652174),
 ('BIOMEDICAL ENGINEERING', 0.09208386),
 ('BIOLOGICAL ENGINEERING', 0.087143069),
 ('FOOD SCIENCE', 0.09693146),
 ('ELECTRICAL ENGINEERING TECHNOLOGY', 0.087557114),
 ('CIVIL ENGINEERING', 0.07060957400000001),
 ('MISCELLANEOUS ENGINEERING', 0.074392523),
 ('PUBLIC POLICY', 0.128426299)]

* Subqueries are not limited to the WHERE clause only, they can be used other clauses as well.
#### <span style="color:#00FFD1">Example</span> 
    * We could want to understand the proportion of majors whose ShareWomen is above average.
    * We need to divide the number of rows that met this filter condition by the total number of rows.

In [ ]:
%%sql
SELECT CAST(COUNT(*) AS Float)/(
        SELECT COUNT(*)
        FROM recent_grads
    ) AS proportion
FROM recent_grads
WHERE ShareWomen > (
    SELECT AVG(ShareWomen) 
    FROM recent_grads
    );

## <span style="color:#E600E6">IN Operator</span>
* We can use the IN operator in place of comparison operators when we have a list of values that we want to match in the WHERE clause.
* We can ofcourse use the OR operator but that will make our query more complex and longer.

In [12]:
%%sql

SELECT Major, Major_category
FROM recent_grads
WHERE Major_category IN ("Engineering", "Business")
LIMIT 10;

 * sqlite:///Jobs.db
Done.

[('PETROLEUM ENGINEERING', 'Engineering'),
 ('MINING AND MINERAL ENGINEERING', 'Engineering'),
 ('METALLURGICAL ENGINEERING', 'Engineering'),
 ('NAVAL ARCHITECTURE AND MARINE ENGINEERING', 'Engineering'),
 ('CHEMICAL ENGINEERING', 'Engineering'),
 ('NUCLEAR ENGINEERING', 'Engineering'),
 ('ACTUARIAL SCIENCE', 'Business'),
 ('MECHANICAL ENGINEERING', 'Engineering'),
 ('ELECTRICAL ENGINEERING', 'Engineering'),
 ('COMPUTER ENGINEERING', 'Engineering')]

### <span style="color:#00FFD1">Exercise</span> 
Using your knowledge of SQL subqueries and the IN operator answer the following question.

**Improve the example query above, filter your results by the top 3 Major_categories with respect to total Unemployed graduates.**

    * The idea is to get the top 3 Major_categories with the highest number of unemployed graduates.
    * Then use the 3 major categories to filter your results like in the example query above.

### <span style="color:#00FFD1">NOTE:</span>
* When writing an SQL statement that will end up using many subqueries, it can be overwhelming to know how or where to start.
* It's a good idea to start with the inner queries first, make sure they give your expected results then work your way outwards.

# END